<div id="album-list">
<h1>M&uacute;sica</h1>

<table>

<% for album in @albums %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even')%>">
    <td>
      <%= image_tag album.image_url, :class => 'list-image' %>
    </td>
    <td class="list-description">
      <dl>
        <dt><%=h album.name %></dt>
        <dt class="list-artist"><%=h album.artist %></dt>
         <dd><%=h album.review %></dd>
      </dl>
    </td>
    <td class="list-actions">
      <%= link_to 'Show', album %><br/>   
      <%= link_to 'Edit', edit_album_path(album) %><br/>
      <%= link_to 'Destroy', album,
              :confirm => 'Are you sure?',
              :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New album', new_album_path %>
