<h1>New album</h1>

<% form_for(@album) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :artist %><br />
    <%= f.text_field :artist %>
  </p>
  <p>
    <%= f.label :song %><br />
    <%= f.text_field :song %>
  </p>
  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>
  <p>
    <%= f.label :listened_to %><br />
    <%= f.check_box :listened_to %>
  </p>
  <p>
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </p>
  <p>
    <%= f.label :mood %><br />
    <%= f.text_field :mood %>
  </p>
  <p>
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url, :value => '/images/generic-icon-music.png' %>
  </p>
  <p>
    <%= f.label :review %><br />
    <%= f.text_area :review %>
  </p>
  <p>
    <%= f.label :links %><br />
    <%= f.text_field :links %>
  </p>
  <p>
    <%= f.label :recommended_by %><br />
    <%= f.text_field :recommended_by %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :date_added %><br />
    <%= f.date_select :date_added %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', albums_path %>
